nav {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;

    border-width: 0px 1px 0px 0px;
    background-color: #292E34;
    box-shadow: 0px 0px 5px #09090a;
}

nav li {
    transition: all 0.3s ease-in-out;
    position: relative;
    left: -40px;
}

nav li:hover {
    filter: drop-shadow(0 0 15px rgba(153, 163, 173, 0.8));
}

nav li img {
    margin-bottom: 20px;
}

.icon {
    position: relative;
    width: 60px;
    height: 60px;
    left: 15px;
}

.logo {
    filter: drop-shadow(0 0 15px rgba(210, 224, 245, 0.8));
    height: 70px;
    width: 70px;
    position: relative;
    left: 15px;
}

.main-section {
    width: 95%;
    height: 100%;
    /* border: solid 1px white; */
    /* border-width: 0px 0px 0px 1px; */
    padding: 20px;
    
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        'task expns'
        'ctn expns'
    ;
    gap: 20px;
}

section div {
    padding: 10px;
    border-radius: 5px;
}

.task-card {
    /* border: solid 1px white; */
    border: solid 1px #52575C;
    background-color:  #292E34;
    padding: 20px;
    height: 500px;
    display: flex;
    gap: 10px;
    grid-area: task;
}

.task-card h1 {
    position: sticky;
    background-color: #2F3439;
    /* border: solid 1px white; */
    top: -10px;
    padding: 10px;
    z-index: 1;
}

.ongoing-task {
    background-color: #2F3439;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.ongoing-task ul,
.done-task ul {
    width: 100%;
    /* border: solid 1px white; */
}

.ongoing-task li {
    margin: 10px;
    width: 100%;
    cursor: pointer;
    color: rgb(183, 183, 183);
    position: relative;
    padding: 10px;
    left: -50px;
    /* top: 30px; */
    /* overflow: hidden; */
}

.done-task {
    background-color: #2F3439;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.done-task li {
    text-decoration: line-through;
    margin: 10px;
    width: 100% ;
    cursor: pointer;
    position: relative;
    left: -50px;
    padding: 10px;
    color: rgb(183, 183, 183);
}

.ongoing-task li:hover,
.done-task li:hover {
    color: white;
    background-color: #52575C;
    border-radius: 5px;
}

.ongoing-task::-webkit-scrollbar,
.done-task::-webkit-scrollbar {
    width: 12px;
}

.ongoing-task::-webkit-scrollbar-track,
.done-task::-webkit-scrollbar-track {
    background: #2F3439;
}

.ongoing-task::-webkit-scrollbar-thumb,
.done-task::-webkit-scrollbar-thumb {
    background-color: #52575C;
    border-radius: 10px;
    border: 3px solid #2F3439;
}

.expense-chart {
    border: solid 1px #52575C;
    background-color:  #292E34;
    grid-area: expns;
}

.bottom-chart {
    border: solid 1px #52575C;
    background-color:  #292E34;
    grid-area: ctn;
}

